<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <configSections>
        <sectionGroup name="Sendy.Net">
            <section name="Settings" type="Sendy.Net.Config.AppConfig, Sendy.Net" />
        </sectionGroup>
    </configSections>

    <Sendy.Net>
        <Settings>
            <Sendy InstallationUrl="http://your_sendy_installation" ApiKey="[your_api_key]" />
        </Settings>
    </Sendy.Net>
    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
